/* 
    Created on : Aug 28, 2018, 7:24:19 AM
    Author     : LEOGOLD
*/

/*.main-container{
    background-color: cyan;
    margin: auto;
    width: 80%;
}
.container{
    background-color: whitesmoke;
    width: 90%;
    margin: auto;
}*/